:root {
  --blue-1: rgba(14, 51, 203, 1);
  --blue-2: rgba(31, 69, 228, 1);
  --body-1-font-family: "Roboto-Regular", Helvetica;
  --body-1-font-size: 18px;
  --body-1-font-style: normal;
  --body-1-font-weight: 400;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 139.9999976158142%;
  --body-2-font-family: "Roboto-Regular", Helvetica;
  --body-2-font-size: 16px;
  --body-2-font-style: normal;
  --body-2-font-weight: 400;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 139.9999976158142%;
  --BUTTON-font-family: "SpaceGrotesk-Medium", Helvetica;
  --BUTTON-font-size: 16px;
  --BUTTON-font-style: normal;
  --BUTTON-font-weight: 500;
  --BUTTON-letter-spacing: 1.04px;
  --BUTTON-line-height: 100%;
  --caption-font-family: "Roboto-Regular", Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0px;
  --caption-line-height: 139.9999976158142%;
  --dark-blue-1: rgba(18, 29, 80, 1);
  --dark-blue-2: rgba(9, 14, 35, 1);
  --dark-blue-3: rgba(6, 10, 23, 1);
  --grey-1: rgba(237, 240, 243, 1);
  --grey-2: rgba(92, 108, 123, 1);
  --heading-1-font-family: "SpaceGrotesk-Bold", Helvetica;
  --heading-1-font-size: 64px;
  --heading-1-font-style: normal;
  --heading-1-font-weight: 700;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 129.99999523162842%;
  --heading-2-font-family: "SpaceGrotesk-Bold", Helvetica;
  --heading-2-font-size: 48px;
  --heading-2-font-style: normal;
  --heading-2-font-weight: 700;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 129.99999523162842%;
  --heading-5-font-family: "SpaceGrotesk-Bold", Helvetica;
  --heading-5-font-size: 25px;
  --heading-5-font-style: normal;
  --heading-5-font-weight: 700;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: 129.99999523162842%;
  --orange: rgba(236, 70, 33, 1);
  --SUB-HEADING-1-font-family: "SpaceGrotesk-Medium", Helvetica;
  --SUB-HEADING-1-font-size: 18px;
  --SUB-HEADING-1-font-style: normal;
  --SUB-HEADING-1-font-weight: 500;
  --SUB-HEADING-1-letter-spacing: 1.71px;
  --SUB-HEADING-1-line-height: 100%;
  --SUB-HEADING-2-font-family: "SpaceGrotesk-Medium", Helvetica;
  --SUB-HEADING-2-font-size: 14px;
  --SUB-HEADING-2-font-style: normal;
  --SUB-HEADING-2-font-weight: 500;
  --SUB-HEADING-2-letter-spacing: 1.33px;
  --SUB-HEADING-2-line-height: 100%;
  --white: rgba(255, 255, 255, 1);
}
